<launch>
    <!-- 红方小车 1 -->
    <group ns="robot_red1">
        <node pkg="robot_vs" type="car_node.py" name="car_agent" output="screen">
            <rosparam command="load" file="$(find robot_vs)/config/car/red_car.yaml" />
        </node>
    </group>

    <!-- 红方小车 2 -->
    <group ns="robot_red2">
        <node pkg="robot_vs" type="car_node.py" name="car_agent" output="screen">
            <rosparam command="load" file="$(find robot_vs)/config/car/red_car.yaml" />
        </node>
    </group>

    <!-- 蓝方小车 1 -->
    <group ns="robot_blue1">
        <node pkg="robot_vs" type="car_node.py" name="car_agent" output="screen">
            <rosparam command="load" file="$(find robot_vs)/config/car/blue_car.yaml" />
        </node>
    </group>

    <!-- 蓝方小车 2 -->
    <group ns="robot_blue2">
        <node pkg="robot_vs" type="car_node.py" name="car_agent" output="screen">
            <rosparam command="load" file="$(find robot_vs)/config/car/blue_car.yaml" />
        </node>
    </group>
</launch>
